:root {
    --color-white: rgba(200,250,250,1);
}

:root {
    --color-post-index-title: #c60055;
}

:root {
    --color-hr: var(--color-accent);
}

:root {
    --color-a-before: var(--color-link-before);
    --color-a-hover: var(--color-link-hover);
}