.footer-wrapper {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(105, 112, 111);
    text-align: center;   
    
    .framework-info {
        span {
            color: #fff;
            font-size: 1.1em;
        }
        a {
            font-size: 1.1em;
            text-decoration: none;
            color: #fff;
        }
    }
}

