<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  
  <div class="theme-basic">

    <div class="theme-basic-favicon">
      <% if (theme.basic.info.favicon){ %>
        <link rel="icon" href="<%- theme.basic.info.favicon %>"> 
       <% } %> 
    </div>

    <div class="theme-basic-title">
      <title><%= theme.basic.info.title %></title>
    </div>
    
    <div class="theme-basic-mathjax">
       <% if (theme.basic.mathjax.enable){ %>
         <%- partial('mathjax') %>
       <% } %>
    </div>
  </div>
  <%- css('css/style.css') %>
</head>