<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="<%- config.root %>font\font-awesome-4.7.0\css\font-awesome.min.css">
  <%- partial('_partial/head') %>
  <body>   
    <div class="container">
      <%- partial('_partial/header') %>
      <main class="main">
        <%- body %>
      </main>
    </div>
</html>