.paginator {
  .paginator-next-fa,
  .paginator-next-fa-no,
  .paginator-prev-fa,
  .paginator-prev-fa-no,
  .paginator-current-text {
     border-radius: 5px;
     padding: 6px 6px 6px 6px
     text-align: center;
     background-color: #ffffff
     box-shadow: 2px 2px 5px #252525;
     position: relative;
  }

  .paginator-next-fa-no,
  .paginator-prev-fa-no {
    opacity: 0;
  }

  .paginator-next-fa,
  .paginator-prev-fa {
    opacity: 1;
  }

  .paginator-current-text {
    font-weight: bold;
  }

}