<div class="footer-wrapper">
    <div class="framework-info">
        <span class="framework-info"> ----- 主题 | </span>
        <a class="framework-info" href = "https://doflake.github.io">doflake</a>
        <span class="framework-info">-----</span>
    </div>
</div>