<alert><%- partial('_common/alert', {index_welcome: theme.alert.index_welcome.enable}) %></alert>
<div class="head-card">

</div>
<div class="body-main">
    <%- partial('_page/post-index') %>
    <%- partial('_page/aside') %>
</div>