<header class="header">
  <div class="blog-title">
    <a href="<%- url_for() %>" class="logo"><%= theme.basic.info.author %></a>
  </div>
  <nav class="navbar">
    <ul class="menu">
      <% for (ca in theme.basic.menu) { %>
        <li class="menu-item">
          <a href="<%- url_for(theme.basic.menu[ca].link) %>" class="menu-item-link"><%- __(theme.basic.menu[ca].name) %> </a>
        </li>
      <% } %>  
    </ul>
  </nav>

</header>