<script src="/js/totop.js"></script>
<script src="/js/jquery.min.js"></script>
<style>
    #totop{
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 0;
    height: 0;
    display: none;
    }
</style>
<div id="totop">
    <a title="Back To Top"><img src="https://cdn.jsdelivr.net/gh/doflake/Picture/ToTop/ScrollTop.png"/></a>
</div>